<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4">
        <input type="text"
               [(ngModel)]="listFilter" />
      </div>
    </div>
    <div class="row"
         *ngIf="listFilter">
      <div class="col-md-6">
        <h4>Filtered by: {{listFilter}}</h4>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table mb-0"
             *ngIf="adverts && adverts.length">
        <tbody>
          <tr *ngFor= "let advert of filteredAdverts">
            <div class="card">
              <div class="card-header">
                <a [routerLink]="['/adverts', advert.id]">
                  {{ advert.name }}
                </a>
              </div>
              <div class="card-body">
                <p>{{ advert.description }}</p>
                <p>{{ advert.dateAdded | date }}</p>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-md-9"><h3>{{ advert.price | currency:"ZAR":"symbol":"1.2-2" }}</h3></div>
                  <div class="col-md-1">
                    <button class="btn btn-outline-primary btn-sm"
                        [routerLink]="['/adverts', advert.id, 'edit']"
                        *ngIf="loggedIn">
                      Edit
                    </button>
                  </div>
                  <div class="col-md-1">
                    <button class="btn btn-outline-success btn-sm"
                        [routerLink]="['/adverts', advert.id]"
                        *ngIf="loggedIn">
                      Buy
                    </button>
                  </div>
                  <div class="col-md-1">
                  <button class="btn btn-outline-primary btn-sm"
                      [routerLink]="['/adverts', advert.id]"
                      *ngIf="!loggedIn">
                    View
                  </button>
                </div>
                </div>
              </div>

            </div>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div *ngIf="errorMessage"
     class="alert alert-danger">
  Error: {{ errorMessage }}
</div>
